doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Delete
    body
        h1 Welcome to Delete
        p Express app with Database connectivity and crud operations
        h4  DELETE Routes . . . . . .
        h3  /all
        h3  /id/:id
        h3  /name/:name
        h3  /email/:email
        
        a(href="/") Home