doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Get
    body
        h1 Welcome to Get
        p Express app with Database connectivity and crud operations
        h4  GET Routes . . . . . .
        h3 /get/all
        h3 /get/id/:id
        h3 /get/name/:name
        h3 /get/email/:email
        
        a(href="/") home  