doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Update
    body
        h1 Welcome to Patch
        p Express app with Database connectivity and crud operations
        h4  PATCH Routes . . . . . .
        h3  /patch/namebyid/:id/:name
        h3  /patch/name/:name1/:name2
        h3  /patch/emailbyid/:id/:email
        h3  /patch/email/:name/:email
        h3  /patch/comment/:id/:comment
        h3  /patch/commentbyname/:name/:comment
        h3  /commentbyemail/:email/:comment

        a(href="/") Home